<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MessagesDb"
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=MessagesDatabase;Trusted_Connection=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>