<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="httpEndpoint" value="http://localhost:5266/api/Messages/decrypt-message"/>
    </appSettings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MessagesDb"
             connectionString="Server=localhost;User Id=sa;password=StrongPass123!@#;Database=MessagesDatabase;Trusted_Connection=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>